@import "tailwindcss";

@theme {
  --color-brown-50: #fdf8f6;
  --color-brown-100: #f2e8e5;
  --color-brown-200: #eaddd7;
  --color-brown-300: #d1bfae;
  --color-brown-400: #b18f76;
  --color-brown-500: #8d6e63;
  --color-brown-600: #6d4c41;
  --color-brown-700: #5d4037;
  --color-brown-800: #4e342e;
  --color-brown-900: #3e2723;
  --color-brown-950: #21130d;
}
